<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="GitHub" value="https://nuget.pkg.github.com/microsoft/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GitHub>
            <add key="Username" value="" /><!-- your GitHub username -->
            <!-- your GitHub PAT: read:packages -->
            <!-- For Microsoft employees, you must enable SSO to the Microsoft org on your PAT -->
            <add key="ClearTextPassword" value="" />
        </GitHub>
    </packageSourceCredentials>
</configuration>
