name: Build and test TypeScript Get Started sample

on:
  push:
    branches:
      - main
      - regen/clients-**
    paths:
      - 'get-started/azure-auth/typescript/**'
      - 'get-started/quickstart/typescript/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'get-started/azure-auth/typescript/**'
      - 'get-started/quickstart/typescript/**'

jobs:
  build-azure:

    defaults:
      run:
        working-directory: get-started/azure-auth/typescript/

    runs-on: ubuntu-latest
    needs: []

    strategy:
      matrix:
        node-version: [ 16.x, 18.x ]

    steps:
    - uses: actions/checkout@v4
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies Azure auth
      run: npm ci
    - name: Compile TypeScript Azure auth
      run: npm run build

  build-quickstart:

    defaults:
      run:
        working-directory: get-started/quickstart/typescript/

    runs-on: ubuntu-latest
    needs: []

    strategy:
      matrix:
        node-version: [ 16.x, 18.x ]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies quickstart
        run: npm ci
      - name: Compile TypeScript quickstart
        run: npm run build
