name: Build and test .NET Get Started sample

on:
  push:
    branches: [ main, get-started-refresh ]
  pull_request:
    branches: [ main ]
    paths:
      - 'get-started/dotnet/**'

jobs:
  build:

    defaults:
      run:
        working-directory: get-started/dotnet/src/

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
